<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hybrid.mapper.CityMapper">
	
    
<!--    R :  Read  -->
	<select id="selectCount" resultType="int">
	    
	    select count(*) from city 
	    
	</select>

    <select id="selectAll" resultType="com.hybrid.model.City">
        
        select  id, 
				name,
				countryCode,
				district, 
				population
				
		   from city
        
    </select>
    
    
<!--     mySQL -->
    <select id="selectPage" 
        	parameterType="com.hybrid.util.Pagination" 
        	resultType="com.hybrid.model.City"
        	databaseId="mysql"> <!-- 이 부분을 추가하여 DB 구분  -->
        
        select  id, 
				name,
				countryCode,
				district, 
				population
				
		   from city
	   order by countrycode asc, name asc
 	      limit #{start}, #{length}
        
    </select>
    
<!--     Oracle -->
    <select id="selectPage" 
            parameterType="com.hybrid.util.Pagination" 
            resultType="com.hybrid.model.City"
            databaseId="oracle"> <!-- 이 부분을 추가하여 DB 구분  -->
        
  select out.*
	from (
			select rownum rn, in_.* 
			  from (
			  		select * 
			  		from city 
			  		order by countrycode asc, name asc) in_
		 ) out
<!-- 	where out.rn >= #{firstItem} -->
<!-- 	  and out.rn <= #{lastItem} -->
		where out.rn &gt;= #{firstItem}
		  and out.rn &lt;=#{lastItem}
	order by rn	
        
    </select>
    
    
    <select id="selectByCountryCode" parameterType="string" resultType="com.hybrid.model.City">
        
		select  id, 
				name,
				countryCode,
				district, 
				population
				
		   from city    
		  where countrycode = #{countryCode}
        
    </select>
    
    
<!--     C : Create  -->
    <insert id="insert" parameterType="com.hybrid.model.City" >
        
        insert into city 
						(
							
							id, 
							name, 
							countrycode, 
							district, 
							population
							
						)
						
				   values
						(
							
							#{id}, 
							#{name}, 
							#{countryCode}, 
							#{district}, 
							#{population} 

						) 
        
    </insert>
    
<!--     U : Update  -->

	<update id="update" parameterType="com.hybrid.model.City">
	    
	    
	    
	    
	</update>
	
	
<!-- 	D : delete  -->
	<delete id="deleteAll" parameterType="com.hybrid.model.City">
	    
	    delete from city
	    
	    
	</delete>
    
    
  
</mapper>







